@import url("https://fonts.googleapis.com/css2?family=Fresca&family=Lora&family=Roboto:wght@300&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

.button {
	background-color: rgb(255, 170, 207);
	padding:15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.button: hover {
	background-color: black;
	color:white;
}

.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.container {
	width: 700px;
	margin: 80px auto;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}

.banner {
	background-image: linear-gradient( -225deg, rgb(192, 222, 255) 0%, rgb(255, 229, 241) 50%);
	color: rgb(255, 153, 215);
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size:50px;
	font-weight: bold;
}

.banner h2 {
	font-size:30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding:20px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 18px;
}

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1,h2,h3 {
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}